@model Blog.Repository.Models.UserModel

@{
    ViewBag.Title = "Login";    
    Layout = "~/Views/Shared/AuthLayout.cshtml";

    bool incorrectLogin = ViewBag.IncorrectLogin ?? false;
    bool incorrectPassword = ViewBag.IncorrectPassword ?? false;
    
    string loginClass = incorrectLogin ? "has-error" : "";
    string passwordClass = incorrectPassword ? "has-error" : "";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">Sign In</h3>
                </div>
                <div class="panel-body">
                    <form method="post">
                        <input type="text" name="ReturnUrl" hidden value="@Url.Action("Index", "Article")" />
                        <fieldset>
                            <div class="form-group @loginClass">  
                                @if (incorrectLogin)
                                {
                                    <label>Incorrect login</label>
                                }                              
                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @required = "reqiured", @placeholder = "Login" })                                
                            </div>
                            <div class="form-group @passwordClass">
                                @if (incorrectPassword)
                                {
                                    <label>Incorrect password</label>
                                }
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @required = "reqiured", @placeholder = "Password" })                                
                            </div>
                            <p>
                                <input type="submit" value="Sign In" class="btn btn-success btn-block" />
                                <a href="@Url.Action("Register", "Auth")" class="btn btn-link btn-block">Create account</a>
                            </p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


