@model Blog.WebUI.Models.RegisterModel

@{
    Layout = "~/Views/Shared/AuthLayout.cshtml";
    ViewBag.Title = "Blog Register";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">Create new account</h3>
                </div>
                <div class="panel-body">
                    <form method="post">
                        <fieldset>
                            <div class="form-group">                                
                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @required = "reqiured", @placeholder = "Username" })
                                <span class="text-danger">@Html.ValidationMessageFor(model => model.Username)</span>
                            </div>
                            <div class="form-group">                                
                                @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", @required = "reqiured", @placeholder = "Full name" })
                                <span class="has-error">@Html.ValidationMessageFor(model => model.FullName)</span>
                            </div>
                            <div class="form-group">                                
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @type = "email", @required = "reqiured", @placeholder = "Email" })
                                <span class="text-danger">@Html.ValidationMessageFor(model => model.Email)</span>
                            </div>
                            <div class="form-group">                                
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @required = "reqiured", @placeholder = "Password" })
                                <span class="text-danger">@Html.ValidationMessageFor(model => model.Password)</span>
                            </div>
                            <div class="form-group">                                
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @required = "reqiured", @placeholder = "Confirm password" })
                                <span class="text-danger">@Html.ValidationMessageFor(model => model.ConfirmPassword)</span>
                            </div>
                            <p>
                                <input type="submit" value="Sign Up" class="btn btn-success btn-block" />
                                <a href="@Url.Action("Login", "Auth")" class="btn btn-link btn-block">Already have an account?</a>
                            </p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
