@{
    ViewBag.Title = "Private";
    Layout = "~/Views/Shared/Layout.cshtml";
    string avatarUrl = ViewBag.AvatarUrl;
    int summaryLimit = ViewBag.SummaryLimit;
    Blog.Repository.Models.UserModel user = ViewBag.User;
    List<Blog.Repository.Models.ArticleModel> articles = ViewBag.Articles;
}

@section Header{
    <link href="~/Content/Styles/User/styles.css" rel="stylesheet" />
    <script src="~/bower_components/angular/angular.js"></script>
    <script src="~/bower_components/angular-elastic/elastic.js"></script>
    <script src="~/Scripts/mymaxlength.js"></script>
    <script src="~/bower_components/angular-file-upload/angular-file-upload.js"></script>
    <script src="~/bower_components/angular-input-match/dist/angular-input-match.js"></script>
    <script src="~/bower_components/angular-pagination/angular-pagination.js"></script>
    <script src="~/Scripts/pagination.js"></script>
    <script src="~/Scripts/private.js"></script>
}

<div ng-app="app">
    <div class="row">
        <div class="col-md-3"
             ng-controller="avatarCtrl"
             ng-init="init('@Url.Content(avatarUrl)', '@Url.Action("UploadAvatar", "User")')"
             nv-file-drop
             uploader="uploader">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Profile Image</h3>
                </div>
                <div class="panel-body text-center">
                    <div class="well">
                        <img ng-src="{{avatarUrl}}" width="100" height="100" />
                    </div>
                    <div>
                        <span class="btn btn-success btn-file btn-block">
                            Select photo
                            <input type="file"
                                   nv-file-select
                                   uploader="uploader">
                        </span>
                        <div class="btn btn-lg btn-link btn-block btn-drop text-center text-muted"
                             uploader="uploader"
                             nv-file-over>
                            Or drop here
                        </div>
                        <div ng-repeat="item in uploader.queue">
                            <hr />
                            <span class="text-center text-capitalize text-muted">{{item.file.name}}</span>
                            <button class="btn btn-block btn-success btn-sm"
                                    ng-click="item.upload()"
                                    ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <i class="glyphicon glyphicon-upload"></i>Upload
                            </button>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-success" ng-style="{width: item.progress + '%'};"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default"
                 ng-controller="summaryCtrl"
                 ng-init="init('@Url.Action("Summary", "User")', @summaryLimit, '@user.Summary')">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">About yourself:</h3>
                </div>
                <div class="panel-body">
                    <textarea class="form-control"
                              placeholder="Tell about yourself..."
                              ng-maxlength="@summaryLimit"
                              my-maxlength="@summaryLimit"
                              initial-value="@user.Summary"
                              msd-elastic
                              ng-change="change()"
                              ng-model="summary"></textarea>
                    <label>Caracters remains:{{summaryLimit - summary.length}}</label>
                    <div>
                        <button class="btn btn-success" ng-click="submit()" ng-disabled="!allowSubmit">Submit</button>
                        <label class="text-success" ng-show="submited">Summary successfuly changed</label>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Settings:</h3>
                </div>
                <div class="panel-body">
                    <form name="passForm"
                          class="form-horizontal"
                          ng-controller="passCtrl"
                          ng-init="init('@Url.Action("ChangePassword", "User")')">
                        <fieldset>
                            <legend>Change password:</legend>
                            <label class="control-label col-md-4">Old password:</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" name="oldPassword" ng-model="oldPassword" required />
                            </div>
                            <div>
                                <label class="control-label col-md-4">New password:</label>
                                <div class="col-md-8">
                                    <input type="password" class="form-control col-md-10" name="newPassword" ng-model="newPassword" required />
                                </div>
                            </div>
                            <div>
                                <label class="control-label col-md-4">Repeat new password:</label>
                                <div class="col-md-8">
                                    <input type="password" class="form-control col-md-10" name="confirmPassword" ng-model="confirmPassword" match="newPassword" required />
                                    <label class="text-danger" ng-show="passForm.confirmPassword.$error.match">New password does not match confirmation</label>
                                </div>
                            </div>
                            <button class="btn btn-success" ng-disabled="passForm.$invalid" ng-click="submit()">Confirm</button>
                            <label class="text-success" ng-show="submited && changed">Password successfuly changed</label>
                            <label class="text-danger" ng-show="submited && !changed">Old password is incorrect</label>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h3 class="panel-title">Your Articles</h3>
        </div>
        <div class="panel-body">
            @{Html.RenderAction("Author", "Article", new { author = user.Username });}
        </div>
    </div>
</div>
