@model Blog.Repository.Models.ArticleModel
@{
    bool allowEdit = ViewBag.AllowEdit ?? false;
}

<article class="well">
    <h3>@Model.Title</h3>
    @Html.Raw(Model.Content)
    <div class="text-right">
        <strong>@Model.Author</strong> <small>@Model.CreateDate.ToString("MMMM dd, yyyy.", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))</small>
    </div>      
    <a href="@Url.Action("Read", "Article", new { url = Model.Url })" class="btn btn-default btn-link">More &rarr;</a>
    @if (allowEdit)
    {
        <a href="@Url.Action("Edit", "Article", new { info = Model.Url })" class="btn btn-success">Edit</a>
    }    
</article>

